<header class="site-header">
    <div class="container nav">
      <a href="/" class="logo">MediCare Clinic</a>
  
      <nav class="menu">
        <a href="/">Trang chủ</a>
        <a href="/book">Đặt lịch</a>
        <a href="/admin-login">Đăng nhập</a>
      </nav>
  
      <a href="/book" class="btn btn-primary">Đặt lịch ngay</a>
    </div>
  </header>